@import "tailwindcss";

@theme {
  --color-purple-900: #512051;
  --color-purple-300: #927B91;
  --color-purple-100: #F7F2F7;

  --color-pink-400: #EE69A4;

  --color-orange-400: #EF9546;
  
  --font-league: "League Spartan", sans-serif;
  --text-base: 19px;
  --leading-base: 135%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "League Spartan", sans-serif;
}